[Unit]
Description=D-Bus server for com between Plint apps

Requires=dbus.service

[Service]
Type=oneshot
ExecStart=/usr/bin/dbus-plserver

[Install]
WantedBy=multi-user.target